/* ----------------------------------------
// Root
----------------------------------------*/

:root {
  --main-border-radius: 4px;
}

.dice,
.list,
.quiz {
  max-width: 500px;
  margin: 50px auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 40px 0;
}

/* ----------------------------------------
// DICE
----------------------------------------*/
.dice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.title {
  text-align: center;
  margin: 0;
}

.placeholder {
  border: 1px solid lightgrey;
  width: 200px;
  height: 200px;
  border-radius: var(--main-border-radius);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.button {
  border: 0;
  outline: 0;
  background-color: rgb(28, 5, 58);
  border-radius: var(--main-border-radius);
  padding: 10px 15px;
  font-size: 20px;
  color: white;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
}

/* ----------------------------------------
// Playlist
----------------------------------------*/

#play {
  background-color: rgb(71, 71, 209);
}

#next {
  background-color: rgb(90, 126, 57);
}

#playlist {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: rgb(233, 224, 224);
  margin-bottom: 5px;
  border-radius: var(--main-border-radius);
  display: flex;
  justify-content: space-between;
}

li span {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.current {
  background: tomato;
  color: white;
}

/* ----------------------------------------
// Quiz
----------------------------------------*/

.answer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.select {
  border: 0;
  outline: 0;
  background-color: rgb(28, 5, 58);
  border-radius: var(--main-border-radius);
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  width: 150px;
  cursor: pointer;
}

.footer {
  text-align: center;
  background: #00cc55;
  color: white;
  padding: 10px;
}
